# Help files
HELP.md

# Maven and build directories
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle build
build/
!**/src/**/build/
build.log
.gradle
.gradle/
.gradletasknamecache

# IntelliJ IDEA specific files
.idea/
*.iws
*.iml
*.ipr

# General files and folders to ignore
# Backup files
*~              # Backup files ending with ~
.#*             # Temporary files
# Compiled code
*.class         # Compiled Java classes
*.jar           # Java archive files
# Project files
MANIFEST.MF
dependency-reduced-pom.xml
.flattened-pom.xml
# Logs and databases
dump.rdb
interpolated*.xml
# Miscellaneous
.DS_Store        # macOS file
.attach_pid*     # Process ID files
# Additional directories to ignore
bin/
lib/
node_modules/
code/
_site/
activemq-data/

# Ignore specific IDE directories and configuration files
.git-hooks/
.metadata/
.recommenders/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# VS Code specific files
.vscode/*
!.vscode/extensions.json
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# React specific files
.DS_Store
node_modules
scripts/flow/*/.flowconfig
.flowconfig
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
remote-repo/
coverage/
.module-cache
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
test/the-files-to-test.generated.js
*.log*
chrome-user-data
*.swp
*.swo

# Additional logs, editor directories, and files
dist/
dist-ssr/
*.local
.firebase/
